* {
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 80px;
    width: 1600px;
    margin: 0 auto;
    background: #000000;
    backdrop-filter: blur(2px);


}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
}

.logo {
    margin: 15px 63px 15px 0;
}
.hamburger-menu {
    display: none;
}
.header-h1 {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    margin-right: 58px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.nav_link:hover {
    color: orange;

}
.desig {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 380px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    

}
.desig a {
    text-decoration: none;
    color: #FFFFFF;
} 
.desig a:hover {
    color: orange;
} 

.background {
    height: 390px;
    width: 1600px;
    margin: 0 auto;
    background: url(../../assets/images/panda_bg.png) center no-repeat;
}

.inform {
    height: 1525px;
    width: 1600px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    margin: 0 auto;
    position: relative;
}
.inform-box h3 {
    margin: 0 0;
    padding-top: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}
.inform-box h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 8px;
}
.inform-box h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    padding-top: 15px;

}
.inform-content {
    position: absolute;
    top: 340px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    height: 960px;
    width: 1160px;
}
.inform-content h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin-top: 20px;
    margin-right: 10px;
}
.inform-content p {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-top: -20px;
    margin-left: 92px;
}
.inform-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.iform-day-namber {
    position: absolute;
    margin-top: 140px;
    margin-left: -235px;
    

}
.iform-day-decr{
    position: absolute;
    margin-top: 440px;
    margin-left: -390px;
    
}
.iform-day-icons{
    position: absolute;
    top: 330px;
    margin-right: 195px;
    
}
.iform-day-img {
    position: absolute;
    top: 200px;
    margin-right: -235px; 
    
} 
.wrapper-mini {
    display: none;
}
.wrapper {
    width:976px ;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 365px;
    margin-left: 140px ;
    color: #000000;
    
 }
 .dot-wrapper {
     width: 976px;
     display: flex;
     flex-direction: column;
 
 }
 .dot-form {
     width: 90%;
     max-width: 976px;
 }
 form #dot-slaider {
     display: flex;
     flex-direction: row;
     align-items: stretch;
     position: relative;
     width: 100%;
     height: 60px;
 }
 form #dot-slaider::before {
     content: "";
     position: absolute;
     height: 2px;
     width: calc(100% * (7 / 8));
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: gray;
 }
 form #dot-slaider input,
 form #dot-slaider label {
     box-sizing: border-box;
     flex: 1;
     cursor: pointer;
 }
 form #dot-slaider label {
     display: inline-block;
     position: relative;
     width: 20%;
     height: 100%;
 
 }
 form #dot-slaider label::before {
     content: attr(data-dot-amount);
     position: absolute;
     left: 50%;
     padding-top: 10px;
     transform: translate(-50%, 45px);
     letter-spacing: 0.4px;
     font-weight: 800;
     font-size: 24px;
     opacity: 0.55;
     white-space: nowrap;
     transition: all 0.15s ease-in-out;
 
 }
 form #dot-slaider label::after {
     content: "";
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 30px;
     height: 30px;
     border: 2px solid orange;
     background: orange;
     border-radius: 50%;
     pointer-events: none;
     z-index: 1;
     cursor: pointer;
     transition: all 0.15s ease-in-out;
 
 
 }
 form #dot-slaider label:hover::after {
     transform: translate(-50%, -50%) scale(1.25);
 
 
 }
 form #dot-slaider input:checked + label::before{
     font-weight: 800;
     opacity: 1;
 }
 form #dot-slaider input:checked + label::after{
     border-width: 4px;
     transform: translate(-50%, -50%) scale(0.75);
     border: 2px solid orange;
 }
 #dot-slaider input {
     display: none;
 
 }
 #dot-slaider input:checked ~ #dot-input-label {
     opacity: 1;
 }
 #dot-slaider #dot-input-label {
     display: block;
     position: absolute;
     top: 50%;
     width: 10px;
     height: 10px;
     background: yellow;
     border-radius: 50%;
     transition: all 0.15s ease-in-out;
     transform: translate(-50%, -50%);
     border: 2px solid yellow;
     opacity: 0;
     z-index: 2;
 

 }
#dot-slaider input:checked:nth-child(1) ~ #dot-input-label {
    left: 6.2%;
}
#dot-slaider input:checked:nth-child(3) ~ #dot-input-label {
    left: 18.7%;
}
#dot-slaider input:checked:nth-child(5) ~ #dot-input-label {
    left: 31.2%;
}
#dot-slaider input:checked:nth-child(7) ~ #dot-input-label {
    left: 43.8%;
}
#dot-slaider input:checked:nth-child(9) ~ #dot-input-label {
    left: 56.3%;
}
#dot-slaider input:checked:nth-child(11) ~ #dot-input-label {
   left: 68.7%;
}
#dot-slaider input:checked:nth-child(13) ~ #dot-input-label {
   left: 81.2%;
}
#dot-slaider input:checked:nth-child(15) ~ #dot-input-label {
   left: 93.7%;
}

.wrapper-mini {
    display: none;
}






.donate-text input{
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.52);
    margin-left: 445px;
    margin-top: 90px;

}
.donate-text img {
    margin-left: -24px;
}


.donate-radio {
    display: flex;
    margin-top: 21px;
    margin-left: 470px;
}
.form_radio {
	margin-bottom: 10px;
    margin-right: 55px;
    
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(https://snipp.ru/img/radio-1.png) 0 0 no-repeat;
}


.form_radio input[type=radio]:checked + label:before {
	background: url(https://snipp.ru/img/radio-2.png) 0 0 no-repeat;
}


.form_radio label:hover:before {
	filter: brightness(120%);
}


.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}

.form {
	width: 150px;
	margin: 0 auto;
}

.button-donate {
    width: 298px;
    height: 54px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    margin-left: 430px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.5s all;
    border: none;
}
.button-donate:hover {
    background: linear-gradient(113.96deg, #a6df8d 1.49%, #0ddd11 101.44%);
    color: #090eae;
}
.donate-decr {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    margin-left: 430px;
    margin-top: 25px;

}

.footer {
    height: 443px;
    width: 1600px;
    background: #111115;
    position: relative;
    margin: -50px auto;
}
.footer-h1 {
    display: none;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo {
    margin-top: 40px;
}

.footer-button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
    margin-top: 65px;
}

.footer-button:hover {
    background: linear-gradient(113.96deg, #a6df8d 1.49%, #0ddd11 101.44%);
    color: #090eae;
}

.footer_social {
    display: flex;
    margin-top: 10px;
}

.footer-social-icon {
    padding-top: 30px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 100%;
}

.social-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 15px;
    text-decoration: none;
}
.social-name:hover {
    color: orange;
}

.footer-nav-link {
    display: flex;
    align-items: flex-end;

}

.footer-nav {
    margin-right: -255px;
    margin-bottom: 5px;
}
.nav_link_hov {
    margin-right: 58px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.nav_link_hov:hover {
    color: orange;
}

.box-mail h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 120px;
    margin-bottom: 0;
}

.footer-form input {
    width: 220px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    border-radius: 2px;
    border: 1px solid orange;
    background-color: #000000;
    margin-top: 10px;
    margin-left: 120px;
}

.button-mail {
    width: 129px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s all;
}

.button-mail:hover {
    background: linear-gradient(113.96deg, #a6df8d 1.49%, #0ddd11 101.44%);
    color: #090eae;
}

.footer-decr {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;


}

.decr-text {
    margin-top: 220px;
    margin-left: 250px;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}



@media all and (min-width:1000px) and (max-width: 1600px) {
    
    .container { 
        width: 940px;
    }
    .header {
        width: 1000px;
    }
    
    .nav_link {
        margin-right: 48px;
    }
    .hamburger-menu {
        display: none;
    }
    .desig {
        margin-left: 211px;
    }
    .background {
        height: 390px;
        width: 1000px;
    }
    .inform {
        height: 1333px;
        width: 1000px;
    }
    .inform-box h4 {
        margin-top: 28px;
    }
    .inform-content {
        width: 940px;
        height: 918px;
        top: 383px;
    }
    .inform-content h2 {
        margin-top: 8px;
    }
    .inform-content p {
        margin-top: -27px;
        margin-left: 46px;
    }
    .iform-day-icons {
        top: 310px;
        margin-right: 195px;
    }
    .iform-day-img {
        top: 182px;
        margin-right: -234px;
    }
    .wrapper-mini {
        display: none;
    }
    .wrapper {
        margin-left: -19px;
    }
    .dot-wrapper {
        width: 810px;
        margin-left: -190px;
    }
    .dot-form {
        width: 100%;
        max-width: 810px;
        margin-left: 84px;
    }
    .donate-text input {
        margin-left: 334px;
        margin-top: 85px;
    }
    .donate-radio {
        margin-top: 26px;
        margin-left: 362px;
    }
    .button-donate {
        margin-left: 322px;
    margin-top: 20px;
    }
    .donate-decr {
        margin-left: 321px;
        margin-top: 27px;
    }



    .footer{
        width: 1000px;
        margin: 0 auto;
    }
    .footer-h1 {
        display: none;
    }
    .footer-logo {
    margin-top: 40px;
    margin-left: 2px;
    }
    .footer-button {
        margin-top: 66px;
        margin-left: 0px;
    }
    .footer_social {
        margin-top: 8px;
        margin-left: 8px;
    }
    .footer-nav {
        margin-right: -244px;
        margin-bottom: 0px;
    }
    
    .footer-social-icon {
    margin-top: 4px;
    margin-left: -9px;
    }
    .box-mail h3 {
        margin-top: 43px;
        margin-left: 79px;
    }
    .footer-form {
        margin-left: -40px;
    }
}

@media all and (min-width:640px) and (max-width: 999px){
    .container { 
        width: 600px;
    }
    .header {
        position:-webkit-sticky;
        position:sticky;
        top:0;
        width: 640px;
        height: 34px;
    }
    .hamburger-menu {
        display: block;
        z-index: 999999;
    }
    .nav {
        display: none;
    }
    .desig {
        display: none;
    }
    .logo img {
        width: 46.86px;
        height: 29.03px;
        margin-top: -12px;
    }
    
    .logo__ham img {
        background-color: orange;
    }
    #menu__toggle {
        opacity: 0;
        z-index: 500;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
        
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 7px;
        right: 20px;
        width: 18px;
        height: 23px;
        cursor: pointer;
        z-index: 9999;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        z-index: 500;
      
        width: 100%;
        height: 2px;
      
        background-color: #616161;
      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -5px;
      }
    .menu__btn > span::after {
        content: '';
        top:5px;
      }
      
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        z-index: 500;
        
      
        width: 640px;
        height: 320px;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
        
      }
      
    .menu__item {
        display: block;
        padding: 12px 24px;
        z-index: 500;
      
        color: #333;
      
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
    .menu__item:hover {
        background-color: #CFD8DC;
      }

    .background {
        height: 340px;
        width: 640px;
      }

    .inform {
        height: 1333px;
        width: 640px;
      }
    .inform-box h3{
        font-size: 24px;
        line-height: 120%;
        padding-top: 34px;
    }
    .inform-box h4 {
        margin-top: 18px;
    }
    .inform-box h2 {
        margin-top: -9px;
    }
    .inform-content {
        width: 600px;
        height: 918px;
        top: 370px;
    }
    .inform-content h2 {
        margin-top: 10px;
        margin-left: 13px;
    }
    .inform-content p {
        margin-top: -13px;
        margin-left: 49px;
    }
    .iform-day-namber {
        margin-top: 129px;
        margin-left: -234px;
    }
    .iform-day-decr {
        margin-top: 419px;
        margin-left: -384px;
    }
    .iform-day-icons {
        top: 345px;
        margin-right: 190px;
   
    }
    .iform-day-img {
        top: 214px;
        margin-right: -237px;
    }
    .wrapper-mini {
        display: block;
    }
    .dot-wrapper {
        width: 810px;
        margin-left: -110px;
    }
    .dot-form {
        width: 100%;
        max-width: 810px;
        margin-left: 84px;
    }
    
    .wrapper {
        display: none;
    }
    .wrapper-mini {
        width:600px ;
        height: 40px; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 337px;
        color: #000000;
        
     }
     .dot-wrapper {
         width: 600px;
         display: flex;
         flex-direction: column;
     
     }
     .dot-form {
         width: 90%;
         max-width: 600px;
     }
     form #dot-slaider {
         display: flex;
         flex-direction: row;
         align-items: stretch;
         position: relative;
         width: 100%;
         height: 60px;
     }
     form #dot-slaider::before {
         content: "";
         position: absolute;
         height: 2px;
         width: calc(100% * (4 / 5));
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background: gray;
     }
     form #dot-slaider input,
     form #dot-slaider label {
         box-sizing: border-box;
         flex: 1;
         cursor: pointer;
     }
     form #dot-slaider label {
         display: inline-block;
         position: relative;
         width: 20%;
         height: 100%;
     
     }
     form #dot-slaider label::before {
         content: attr(data-dot-amount);
         position: absolute;
         left: 50%;
         padding-top: 10px;
         transform: translate(-50%, 45px);
         letter-spacing: 0.4px;
         font-weight: 800;
         font-size: 24px;
         opacity: 0.55;
         white-space: nowrap;
         transition: all 0.15s ease-in-out;
     
     }
     form #dot-slaider label::after {
         content: "";
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         width: 30px;
         height: 30px;
         border: 2px solid orange;
         background: orange;
         border-radius: 50%;
         pointer-events: none;
         z-index: 1;
         cursor: pointer;
         transition: all 0.15s ease-in-out;
     
     
     }
     form #dot-slaider label:hover::after {
         transform: translate(-50%, -50%) scale(1.25);
     
     
     }
     form #dot-slaider input:checked + label::before{
         font-weight: 800;
         opacity: 1;
     }
     form #dot-slaider input:checked + label::after{
         border-width: 4px;
         transform: translate(-50%, -50%) scale(0.75);
         border: 2px solid orange;
     }
     #dot-slaider input {
         display: none;
     
     }
     #dot-slaider input:checked ~ #dot-input-label {
         opacity: 1;
     }
     #dot-slaider #dot-input-label {
         display: block;
         position: absolute;
         top: 50%;
         width: 10px;
         height: 10px;
         background: yellow;
         border-radius: 50%;
         transition: all 0.15s ease-in-out;
         transform: translate(-50%, -50%);
         border: 2px solid yellow;
         opacity: 0;
         z-index: 2;
     
    
     }
    #dot-slaider input:checked:nth-child(1) ~ #dot-input-label {
        left: 10%;
    }
    #dot-slaider input:checked:nth-child(3) ~ #dot-input-label {
        left: 30%;
    }
    #dot-slaider input:checked:nth-child(5) ~ #dot-input-label {
        left: 50%;
    }
    #dot-slaider input:checked:nth-child(7) ~ #dot-input-label {
        left: 70%;
    }
    #dot-slaider input:checked:nth-child(9) ~ #dot-input-label {
        left: 90%;
    }
    .donate-text{
        margin-top: 3px;
    }
    .donate-text input {
        width: 175px;
        height: 40px;
        margin-left: 211px;
        margin-top: 84px;
    }
    .donate-radio{
        margin-top: 32px;
        margin-left: 192px;
    }
    .button-donate {
        margin-left: 155px;
        margin-top: 20px;
    }
    .donate-decr {
        margin-left: 152px;
        margin-top: 30px;
    }




    .footer {
        height: 282px;
        width: 640px;
        margin-top: 0px;
    
    }
    .footer-h1 {
        display: none;
    }
    .box-mail h3 {
        display: none;
    }
    .footer-form, .social-name {
        display: none;
    }
    .footer-logo {
        margin-top: 13px;
    }
    .footer-button {
        margin-top: 28px;
    }
    .footer-social-icon{
        position: absolute;
        margin-left: 573px;
        margin-top: -186px;
    }
    .footer_social {
        margin-top: 19px;
    }
    .footer-nav {
        position: absolute;
        margin-left: -307px;
        margin-bottom: -7px;
    }
   
    .nav_link_hov {
        margin-right: 34px;
    }
    .footer-decr {
        margin-left: -192px;
    }

}
@media all and (min-width:320px) and (max-width: 639px){

    .container { 
        width: 320px;
    }
    .header {
        position:-webkit-sticky;
        position:sticky;
        top:0;
        width: 320px;
        height: 34px;
    }
    .hamburger-menu {
        display: block;
    }
    .nav {
        display: none;
    }
    .desig {
        display: none;
    }
    .logo img {
        width: 46.86px;
        height: 29.03px;
        margin-top: -13px;
        margin-left: 9px;
    }
    
    .logo__ham img {
        background-color: orange;
    }
    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 7px;
        right: 20px;
        width: 18px;
        height: 23px;
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 2px;
      
        background-color: #616161;
      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -5px;
      }
      .menu__btn > span::after {
        content: '';
        top:5px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
      
        width: 320px;
        height: 320px;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
      
        color: #333;
      
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }


      .background {
        height: 190px;
        width: 320px;
        background-size: 776px;
        margin: 0 auto;
        
      }

    .inform {
        height: 1282px;
        width: 320px;
      }
    .inform-box h3{
        font-size: 24px;
        line-height: 120%;
        padding-top: 28px;
        margin-left: 12px;
    }
    .inform-box h4 {
        margin-top: 19px;
        margin-left: 11px;
    }
    .inform-box h2 {
        font-size: 24px;
        margin-top: 32px;
        margin-left: 10px;
    }
    .inform-content {
        width: 300px;
        height: 594px;
        top: 530px;
        left: 8px;
    }
    .inform-content h2 {
        margin-top: 6px;
        margin-left: 13px;
    }
    .inform-content p {
        font-size: 16px;
        margin-top: -10px;
        margin-left: 5px;
    }
   
    .iform-day-namber {
        width: 46.24px;
        height: 32.71px;
        margin-top: 61px;
        margin-left: -127px;
    }
    .iform-day-decr {
        font-weight: 400;
        font-size: 9.02255px;
        line-height: 140%;
        margin-top: 214px;
        margin-left: -208px;
    }
    .iform-day-icons {
        top: 183px;
        margin-right: 100px;
   
    }
    .iform-day-icons img {
        width: 7.89px;
        height: 7.89px;;
    }

    .iform-day-img {
        top: 114px;
        margin-right: -146px;
    }
    .iform-day-img img {
        width: 160.15px;
        height: 138.72px;
}

    .wrapper-mini {
        display: block;
    }
    .dot-wrapper {
        width: 300px;
        margin-left: -110px;
    }
    .dot-form {
        width: 100%;
        max-width: 300px;
        margin-left: 84px;
    }
    
    .wrapper {
        display: none;
    }
    .wrapper-mini {
        width:300px ;
        height: 40px; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 162px;
        color: #000000;
        
     }
     .dot-wrapper {
         width: 320px;
         display: flex;
         flex-direction: column;
         margin-left: -166px;
     
     }
     .dot-form {
         width: 100%;
         max-width: 600px;
     }
     form #dot-slaider {
         display: flex;
         flex-direction: row;
         align-items: stretch;
         position: relative;
         width: 100%;
         height: 60px;
     }
     form #dot-slaider::before {
         content: "";
         position: absolute;
         height: 2px;
         width: calc(100% * (4 / 5));
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background: gray;
     }
     form #dot-slaider input,
     form #dot-slaider label {
         box-sizing: border-box;
         flex: 1;
         cursor: pointer;
     }
     form #dot-slaider label {
         display: inline-block;
         position: relative;
         width: 20%;
         height: 100%;
     
     }
     form #dot-slaider label::before {
         content: attr(data-dot-amount);
         position: absolute;
         left: 50%;
         padding-top: 10px;
         transform: translate(-50%, 45px);
         letter-spacing: 0.4px;
         font-weight: 400;
         font-size: 12px;
         opacity: 0.55;
         white-space: nowrap;
         transition: all 0.15s ease-in-out;
     
     }
     form #dot-slaider label::after {
         content: "";
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         width: 30px;
         height: 30px;
         border: 2px solid orange;
         background: orange;
         border-radius: 50%;
         pointer-events: none;
         z-index: 1;
         cursor: pointer;
         transition: all 0.15s ease-in-out;
     
     
     }
     form #dot-slaider label:hover::after {
         transform: translate(-50%, -50%) scale(1.25);
     
     
     }
     form #dot-slaider input:checked + label::before{
         font-weight: 800;
         opacity: 1;
     }
     form #dot-slaider input:checked + label::after{
         border-width: 4px;
         transform: translate(-50%, -50%) scale(0.75);
         border: 2px solid orange;
     }
     #dot-slaider input {
         display: none;
     
     }
     #dot-slaider input:checked ~ #dot-input-label {
         opacity: 1;
     }
     #dot-slaider #dot-input-label {
         display: block;
         position: absolute;
         top: 50%;
         width: 10px;
         height: 10px;
         background: yellow;
         border-radius: 50%;
         transition: all 0.15s ease-in-out;
         transform: translate(-50%, -50%);
         border: 2px solid yellow;
         opacity: 0;
         z-index: 2;
     
    
     }
    #dot-slaider input:checked:nth-child(1) ~ #dot-input-label {
        left: 10%;
    }
    #dot-slaider input:checked:nth-child(3) ~ #dot-input-label {
        left: 30%;
    }
    #dot-slaider input:checked:nth-child(5) ~ #dot-input-label {
        left: 50%;
    }
    #dot-slaider input:checked:nth-child(7) ~ #dot-input-label {
        left: 70%;
    }
    #dot-slaider input:checked:nth-child(9) ~ #dot-input-label {
        left: 90%;
    }
    .donate-text{
        margin-top: 3px;
    }
    .donate-text input {
        width: 175px;
        height: 40px;
        margin-left: 62px;
        margin-top: 33px;
    }
    .donate-radio{
        margin-top: 24px;
        margin-left: 40px;
    }
    .button-donate {
        margin-left: 2px;
        margin-top: 20px;
    }
    .donate-decr {
        margin-left: 1px;
        margin-top: 29px;
        font-size: 15.9px;
    }


      .footer {
        height: 335px;
        width: 320px;
        margin-top: -140px;
    }
    .footer-h1 {
        display: block;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        margin-left: 13px;
        margin-top: 23px;
        
    }
    .footer-h1:hover{
        border: 1.18841px solid #FFFFFF;

    }
    .box-mail h3 {
        display: none;
    }
    .footer-form, .social-name {
        display: none;
    }
    .footer-logo {
        display: none;
    }
    .footer-button {
        margin-top: 84px;
        margin-left: 10px;
    }
    .footer-social-icon{
        position: absolute;
        display: flex;
        margin-left: 63px;
        margin-top: -157px;
        
    }
    .footer_social {
        margin-top: 19px;
        margin-right: 31px;
    }
    .footer-nav {
        position: absolute;
        margin-left: -294px;
        margin-bottom: -61px;
    }
   
    .nav_link_hov {
        margin-right: 26px;
    }
    .footer-decr {
        font-size: 15px;
        
    }
    .decr-text{
        font-size: 15px;
        margin-top: 215px;
        margin-left: -222px;
    }



}
    


